# Python
__pycache__/
*.py[cod]
*.class
.venv/
venv/

# Scrapy & Logs
.scrapy/
*.log

# Environment Variables
.env

# Data Files
cpu_price_tracker/data/*.json
cpu_price_tracker/data/standard_dict.txt
!cpu_price_tracker/data/cpu_data.csv

# OS files
.DS_Store
